.footer {
    text-align: center;
    direction: ltr;
    margin-top: 100px;
    padding-top: 10px;
    border-top: 2px solid rgb(234, 234, 234);
}

.footer a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    color: #a62626;
}